Options -Indexes
RewriteEngine On

# Handle CORS preflight
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^api/(.*)$ public/index.php [L,QSA]

# Arahkan semua /api/* ke public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ public/index.php [L,QSA]
